
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}


header {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px;
}

nav{
    display: flex;
    width: 84%;
    margin: auto;
    padding: 20px 0;
    align-items: center;
    justify-content: space-between;
}

nav ul li{
    display: inline-block;
    list-style: none;
    margin: 10px 20px; 
}

nav ul li a{
    text-decoration: none;
    color: #000;
    font-weight: bold;
}


h1 {
    font-size: 36px;
}

.team-member {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 20px;
}

.member {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 5px;
    margin: 10px;
    padding: 20px;
    width: 300px;
    text-align: center;
}

.member img {
    max-width: 100%;
    border-radius: 50%;
}

.member h2 {
    font-size: 24px;
}

.member p {
    font-size: 18px;
}
